@page "/Turno/"

@inherits TurnoConsultaBase

<PageConsulta NomeTela="Turno" RotaHome="Turno" />

<!-- MessageBox -->
<MessageBox Mensagem="@MensageBox"
            SubMensagem="@SubMensagem"
            VisualizaMessage="@FlagVisualizaMessage"
            ConfirmarCallback="ConfirmaExclusao"
            CancelarCallback="CancelaExclusao" />
<!-- Fim MessageBox-->


<section id="ConsultaFuncionarioID">

    @if (!Equals(ModelsTmp, null) && ModelsTmp.Count > 0)
    {
        <MudTable Class="mt-2" Items="@ModelsTmp" Dense="true" Hover="true" Bordered="@false" Striped="false" Filter="new Func<TurnoView,bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Consulta de Turnos</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString" Placeholder="Pesquisar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh style="width: 50px;">Código</MudTh>
                <MudTh>Descrição</MudTh>
                <MudTh>Hora Início</MudTh>
                <MudTh>Hora Fim</MudTh>
                <MudTh>PerNoite</MudTh>
                <MudTh>Status</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Código">@context.CodigoString</MudTd>
                <MudTd DataLabel="Descrição">@context.Descricao</MudTd>
                <MudTd DataLabel="Hora Início">@context.HoraInicioString</MudTd>
                <MudTd DataLabel="Hora Fim">@context.HoraFimString</MudTd>
                <MudTd DataLabel="PerNoite">@context.PerNoiteString</MudTd>
                <MudTd DataLabel="Situação">@context.Situacao</MudTd>
                <MudTd DataLabel="" Class="d-flex justify-end">
                    <MudButtonGroup Color="Color.Default" Size="Size.Small" Variant="Variant.Outlined">
                        <MudIconButton Icon="@Icons.Material.Rounded.RemoveRedEye" aria-label="delete" OnClick="() => InicializaRotaVisualizar(context.Id)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Rounded.Edit" aria-label="delete" OnClick="() => InicializaRotaEditar(context.Id)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Rounded.Delete" aria-label="delete" OnClick="() => InicializaRotaExcluir(context.Id)"></MudIconButton>
                    </MudButtonGroup>
                </MudTd>
            </RowTemplate>
        </MudTable>
    }
    else
    {

        <div class="mt-3">
            <MudAlert Severity="Severity.Info">Sem Informação Cadastrada !</MudAlert>
        </div>
    }

</section>