@page "/Funcionario/"

@inherits FuncionarioConsultaBase

<PageConsulta NomeTela="Funcionário" RotaHome="Funcionario" />

<MessageBox @ref="MessageBoxRef" />

<section id="ConsultaFuncionarioID">

    @if (!Equals(ModelsTmp, null) && ModelsTmp.Count > 0)
    {
        <MudTable Class="mt-2" Items="@ModelsTmp" Elevation="5" Dense="true" Hover="true" Bordered="@false" Striped="false" Filter="new Func<FuncionarioView,bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Consulta de Funcionários</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString" Placeholder="Pesquisar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh style="width: 50px;">Código</MudTh>
                <MudTh>Nome</MudTh>
                <MudTh style="width: 100px; text-align: center;">Status</MudTh>
                <MudTh style="width: 160px; text-align: center;">Possui Biometria ?</MudTh>
                <MudTh style="width: 100px;"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Código">@context.CodigoString</MudTd>
                <MudTd DataLabel="Nome">@context.Nome</MudTd>
                <MudTd DataLabel="Situação" Style="text-align: center;">@context.Situacao</MudTd>
                <MudTd DataLabel="Possui Biometria ?" Style="text-align: center;">@context.Biometria</MudTd>
                <MudTd DataLabel="" Class="d-flex justify-end">
                    <MudButtonGroup Color="Color.Default" Size="Size.Small" Variant="Variant.Outlined">
                        <MudIconButton Icon="@Icons.Material.Rounded.RemoveRedEye" aria-label="delete" OnClick="() => InicializaRotaVisualizar(context.Id)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Rounded.Edit" aria-label="delete" OnClick="() => InicializaRotaEditar(context.Id)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Rounded.Delete" aria-label="delete" OnClick="() => InicializaRotaExcluir(context.Id)"></MudIconButton>
                    </MudButtonGroup>
                </MudTd>
            </RowTemplate>
        </MudTable>
    }
    else
    {
        <div class="mt-3">
            <MudAlert Severity="Severity.Info">Sem Informação Cadastrada !</MudAlert>
        </div>
    }

</section>