@page "/Escala/"

@inherits EscalaConsultaBase

<PageConsulta NomeTela="Escala" RotaHome="Escala" />

<MessageBox @ref="MessageBoxRef" />

<MudCard Class="mt-2">
    <MudCardContent>
        <MudGrid>
            <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                <MudDatePicker Color="Color.Tertiary" Label="Data de Inicio" @bind-Date="Filtro.DataInicio" DateFormat="dd/MM/yyyy" PickerVariant="PickerVariant.Dialog" />
            </MudItem>
            <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                <MudDatePicker Color="Color.Tertiary" Label="Data de Termino" @bind-Date="Filtro.DataFim" DateFormat="dd/MM/yyyy" PickerVariant="PickerVariant.Dialog" />
            </MudItem>
            <MudItem xs="12" sm="12" md="8" lg="8" xl="8">
                @if (!Equals(ListaTurnos, null) && ListaTurnos.Count > 0)
                {
                    <MudSelect T="int" Label="Turno" @bind-Value="Filtro.TurnoId">
                        <MudSelectItem T="int" Value="0">Selecione um Turno...</MudSelectItem>
                        <Virtualize Items="ListaTurnos" Context="item">
                            <MudSelectItem T="int" Value="item.Id">@item.Descricao</MudSelectItem>
                        </Virtualize>
                    </MudSelect>
                }
            </MudItem>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                @if (!Equals(ListaClientes, null) && ListaClientes.Count > 0)
                {
                    <MudSelect T="int" Label="Cliente" @bind-Value="Filtro.ClienteId">
                        <MudSelectItem T="int" Value="0">Selecione um Cliente...</MudSelectItem>
                        <Virtualize Items="ListaClientes" Context="item">
                            <MudSelectItem T="int" Value="item.Id">@item.Nome</MudSelectItem>
                        </Virtualize>
                    </MudSelect>
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
    <MudCardActions>
        <MudButton Class="mr-1" Variant="Variant.Outlined" StartIcon="@Icons.Material.Rounded.PhonelinkErase" Color="Color.Warning" OnClick="LimparFiltro">Limpar</MudButton>
        <MudButton Class="ml-1" Variant="Variant.Outlined" StartIcon="@Icons.Material.Rounded.Search" Color="Color.Success" OnClick="RealizarBusca">Buscar</MudButton>
    </MudCardActions>
</MudCard>

<MessageBox @ref="MessageBoxRef" />

<section id="ConsultaClienteID">

    @if (!Equals(ModelsTmp, null) && ModelsTmp.Count > 0)
    {
        <MudTable Items="@ModelsTmp" Virtualize="true" Breakpoint="Breakpoint.Sm" levation="5" Dense="true" Hover="true" Bordered="@false" Striped="false" Filter="new Func<EscalaView,bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Consulta de Escalas</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString" Placeholder="Pesquisar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <ColGroup>
                <col style="width:150px;" />
                <col style="width:100px;" />
                <col style="width:200px;" />
                <col />
            </ColGroup>
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>Data</MudTh>
                <MudTh>Turno</MudTh>
                <MudTh>Horario</MudTh>
                <MudTh>Cliente</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.Id))">@((context.ShowDetails == true)? "Ocultar" : "Visualizar")</MudButton></MudTd>
                <MudTd DataLabel="Data">@context.DataInicio?.ToString("dd/MM/yyyy")</MudTd>
                <MudTd DataLabel="Turno">@context.Turno</MudTd>
                <MudTd DataLabel="Turno">@context.HoraTurno</MudTd>
                <MudTd DataLabel="Cliente">@context.Cliente</MudTd>
                <MudTd DataLabel="" Class="d-flex justify-end">
                    <MudButtonGroup Color="Color.Default" Size="Size.Small" Variant="Variant.Outlined">
                        <MudIconButton Icon="@Icons.Material.Rounded.Edit" aria-label="delete" OnClick="() => InicializaRotaEditar(context.Id)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Rounded.Delete" aria-label="delete" OnClick="() => InicializaRotaExcluir(context.Id)"></MudIconButton>
                    </MudButtonGroup>
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (context.ShowDetails)
                    {
                    <MudTr>
                        <td colspan="4">

                            <MudPaper Elevation="0">
                                <MudList Clickable="false" Dense="true">
                                    <MudListSubheader Class="pb-0">
                                        Lista de Funcionários
                                    </MudListSubheader>
                                    @if (!Equals(context.ListaFuncionarios, null) && context.ListaFuncionarios.Count > 0)
                                        {
                                        <Virtualize Items="context.ListaFuncionarios" Context="func">
                                            <MudListItem Avatar="@Icons.Material.Filled.Image">
                                                @func
                                            </MudListItem>
                                        </Virtualize>
                                        }
                                </MudList>
                            </MudPaper>
                        </td>
                    </MudTr>
                    }
            </ChildRowContent>
        </MudTable>
    }
    else
    {

        <div class="mt-3">
            <MudAlert Severity="Severity.Info">Sem Informação Cadastrada !</MudAlert>
        </div>
    }

</section>
