@page "/Escala/Novo"
@page "/Escala/Nova"

@page "/Escala/Novo/{id:int}"
@page "/Escala/Nova/{id:int}"

@inherits EscalaCadastroBase

<section>
    <div>
        <h5 class="text-muted mb-3">@NomePagina Escala</h5>
    </div>

    <div>
        @*<EditForm Model="model" OnValidSubmit="SalvarInformacoes">*@
        <EditForm Model="model" OnValidSubmit="SalvarInformacoesAsync">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-2">
                    <div class="card p-3">
                        <div class="row">

                            @if (Operacao == TipoOperacao.Novo)
                            {
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                    <small><label asp-for="" class="small mb-0">Tipo Escala</label></small>
                                    <select @bind="TipoEscala" class="form-control form-control-sm">
                                        <option value="@TipoEscala.Diario">Diaria</option>
                                        <option value="@TipoEscala.Mensal">Mensal</option>
                                    </select>
                                </div>
                            }
                            else if (Operacao == TipoOperacao.Edicao)
                            {
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                    <small><label asp-for="" class="small mb-0">Tipo Escala</label></small>
                                    <select @bind="TipoEscala" class="form-control form-control-sm" disabled>
                                        <option value="@TipoEscala.Diario">Diaria</option>
                                        <option value="@TipoEscala.Mensal">Mensal</option>
                                    </select>
                                </div>
                            }

                            @if (TipoEscala == TipoEscala.Diario)
                            {
                                @if (Operacao == TipoOperacao.Novo)
                                {
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                        <small><label asp-for="" class="small mb-0">Data</label></small>
                                        <input type="date" @bind="model.DataInicio" class="form-control form-control-sm" />
                                        @if (ErroDataEscala)
                                        {
                                            <div class="small">
                                                <span class="small text-danger">@ErroDataEscalaMsg</span>
                                            </div>
                                        }
                                    </div>
                                }
                                else if (Operacao == TipoOperacao.Edicao)
                                {
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                        <small><label asp-for="" class="small mb-0">Data</label></small>
                                        <input type="date" @bind="model.DataInicio" class="form-control form-control-sm" disabled />
                                    </div>
                                }
                            }
                            else
                            {
                                @if (Operacao == TipoOperacao.Novo)
                                {
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                        <small><label asp-for="" class="small mb-0">Mês</label></small>
                                        <select @bind="MesSelecionado" class="form-control form-control-sm">
                                            <option value="1">Janeiro</option>
                                            <option value="2">Fevereiro</option>
                                            <option value="3">Março</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Maio</option>
                                            <option value="6">Junho</option>
                                            <option value="7">Julho</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Setembro</option>
                                            <option value="10">Outubro</option>
                                            <option value="11">Novembro</option>
                                            <option value="12">Dezembro</option>
                                        </select>
                                    </div>
                                }
                                else if (Operacao == TipoOperacao.Edicao)
                                {
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                        <small><label asp-for="" class="small mb-0">Mês</label></small>
                                        <select @bind="MesSelecionado" class="form-control form-control-sm" disabled>
                                            <option value="1">Janeiro</option>
                                            <option value="2">Fevereiro</option>
                                            <option value="3">Março</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Maio</option>
                                            <option value="6">Junho</option>
                                            <option value="7">Julho</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Setembro</option>
                                            <option value="10">Outubro</option>
                                            <option value="11">Novembro</option>
                                            <option value="12">Dezembro</option>
                                        </select>
                                    </div>
                                }
                            }
                            <div class="col-xs-12 col-sm-12 col-md col-lg col-xl col-xxl mb-1">
                                <small><label asp-for="" class="small mb-0">Cliente</label></small>
                                @if (!Equals(ListaClientes, null) && ListaClientes.Count > 0)
                                {
                                    @if (Operacao == TipoOperacao.Novo)
                                    {
                                        <select @bind="model.ClienteId" class="form-control form-control-sm">
                                            <option value="0">Selecione um Cliente...</option>

                                            @foreach (var item in ListaClientes)
                                            {
                                                <option value="@item.Id">@item.Nome</option>
                                            }
                                        </select>
                                        @if (ErroCliente)
                                        {
                                            <div class="small">
                                                <span class="small text-danger">@ErroClienteMsg</span>
                                            </div>
                                        }
                                    }
                                    else if (Operacao == TipoOperacao.Edicao)
                                    {
                                        <select @bind="model.ClienteId" class="form-control form-control-sm" disabled>
                                            <option value="0">Selecione um Cliente...</option>

                                            @foreach (var item in ListaClientes)
                                            {
                                                <option value="@item.Id">@item.Nome</option>
                                            }
                                        </select>
                                    }
                                }
                                else
                                {
                                    <select class="form-control form-control-sm" disabled>
                                        <option>Aguarde, Carregando...</option>
                                    </select>
                                }
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 mb-1">
                                <div class="row">
                                    <div class="col-xs-12 col-sm col-md col-lg col-xl col-xxl">
                                        <small><label asp-for="" class="small mb-0">Turno</label></small>
                                    </div>
                                    <div class="col-xs-12 col-sm col-md col-lg col-xl col-xxl text-end">
                                        @if (!Equals(Turno, null))
                                        {
                                            <small><label asp-for="" class="small mb-0">@Turno.HoraInicioString - @Turno.HoraFimString</label></small>}
                                    </div>
                                </div>

                                @if (!Equals(ListaTurnos, null) && ListaTurnos.Count > 0)
                                {
                                    @if (Operacao == TipoOperacao.Novo)
                                    {
                                        <select @bind="TurnoSelecionado" class="form-control form-control-sm">
                                            <option value="0">Selecione um Turno...</option>

                                            @foreach (var item in ListaTurnos)
                                            {
                                                <option value="@item.Id">@item.Descricao</option>
                                            }
                                        </select>
                                        @if (ErroTurno)
                                        {
                                            <div class="small">
                                                <span class="small text-danger">@ErroTurnoMsg</span>
                                            </div>
                                        }
                                    }
                                    else if (Operacao == TipoOperacao.Edicao)
                                    {
                                        <select @bind="TurnoSelecionado" class="form-control form-control-sm" disabled>
                                            <option value="0">Selecione um Turno...</option>

                                            @foreach (var item in ListaTurnos)
                                            {
                                                <option value="@item.Id">@item.Descricao</option>
                                            }
                                        </select>
                                    }
                                }
                                else
                                {
                                    <select class="form-control form-control-sm" disabled>
                                        <option>Aguarde, Carregando...</option>
                                    </select>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md col-lg col-xl col-xxl mb-2">
                    <div class="card p-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ol-xxl-12">
                                <div class="row">
                                    <div class="col col-sm col-md col-lg col-xl col-xxl">
                                        <small><label asp-for="" class="small mb-0 pt-1">Funcionário</label></small>
                                    </div>
                                    <div class="col col-sm col-md col-lg col-xl col-xxl pe-4">
                                        <div class="input-group">
                                            <input style="font-size: 10px;"
                                                   class="form-control form-control-sm mb-2"
                                                   placeholder="Pesquisar Funcionário"
                                                   @bind="SearchText"
                                                   @oninput="FilterText"
                                                   @onkeydown="EnterDown" />
                                            <span class="input-group-text small" style="height: 25px;"><i class="fas fa-search small text-muted"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ol-xxl-12">
                                @if (!Equals(ListaFuncionarios, null) && ListaFuncionarios.Count > 0)
                                {
                                    <div style="height: 200px; overflow-y: scroll;">
                                        <table class="table table-bordered table-sm">
                                            @foreach (var item in ListaFuncionarios)
                                            {
                                                <tr>
                                                    <td class="p-0 px-4 pt-1 pb-1" style="@item.Display">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="@item.Id" @onchange="eventChange => ChangeSelectedItens(item, (bool)eventChange.Value)" checked="@item.Selecionado" />
                                                            <label class="form-check-label small" style="" for="@item.Id" data-toggle="tooltip" title="@item.Nome">
                                                                <span class="" style="max-width: 190px;">
                                                                    @item.CodigoString - @item.Nome
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-info m-0 p-0 p-2 px-3 small">
                                        <div class="d-flex align-items-center text-muted small">
                                            <strong class="text-muted">Buscando Informações, Aguarde...</strong>
                                            <div class="spinner-border spinner-border-sm ms-auto small" role="status" aria-hidden="true"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md col-lg col-xl col-xxl mb-2">
                    <div class="card p-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ol-xxl-12">
                                <div class="row">
                                    <div class="col col-sm col-md col-lg col-xl col-xxl">
                                        <small><label asp-for="" class="small mb-0 pt-1">Funcionários Selecionados</label></small>
                                    </div>
                                    <div class="col col-sm col-md col-lg col-xl col-xxl pe-4">
                                        <div class="input-group">
                                            <input style="font-size: 10px;"
                                                   class="form-control form-control-sm mb-2"
                                                   placeholder="Pesquisar Funcionário"
                                                   @bind="SearchTextDois"
                                                   @oninput="FilterTextDois"
                                                   @onkeydown="EnterDown" />
                                            <span class="input-group-text small" style="height: 25px;"><i class="fas fa-search small text-muted"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ol-xxl-12">
                                @if (Operacao == TipoOperacao.Novo)
                                {
                                    @if (!Equals(ListaFuncionarios, null) && ListaFuncionarios.Count > 0)
                                    {
                                        <div style="height: 200px; overflow-y: scroll;">
                                            <table class="table table-bordered table-sm">
                                                @foreach (var item in ListaFuncionarios.Where(x => x.Selecionado == true))
                                                {
                                                    <tr style="@item.DisplayDois">
                                                        <td class="p-0 px-4 pt-1 pb-1">
                                                            <div class="form-check">
                                                                <label class="form-check-label small" data-toggle="tooltip" title="@item.Nome">
                                                                    <span>
                                                                        @item.CodigoString - @item.Nome
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="width: 80px;" class="p-0 px-4 pt-1 pb-1">
                                                            <a class="btn btn-danger bg-danger" style="font-size: 10px" @onclick="() => RemoverFuncionario(item)">Remover</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-info m-0 p-0 p-2 px-3 small">
                                            <div class="d-flex align-items-center text-muted small">
                                                <strong class="text-muted">Buscando Informações, Aguarde...</strong>
                                                <div class="spinner-border spinner-border-sm ms-auto small" role="status" aria-hidden="true"></div>
                                            </div>
                                        </div>
                                    }
                                }
                                else if (Operacao == TipoOperacao.Edicao)
                                {
                                    <div style="height: 200px; overflow-y: scroll;">
                                        <table class="table table-bordered table-sm">
                                            @foreach (var item in ListaFuncionarios.Where(x => x.Selecionado == true && x.Status == true))
                                            {
                                                <tr style="@item.DisplayDois">
                                                    <td class="p-0 px-4 pt-1 pb-1">
                                                        <div class="form-check">
                                                            <label class="form-check-label small" data-toggle="tooltip" title="@item.Nome">
                                                                <span>
                                                                    @item.CodigoString - @item.Nome
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="width: 80px;" class="p-0 px-4 pt-1 pb-1">
                                                        <a class="btn btn-danger bg-danger" style="font-size: 10px" @onclick="() => RemoverFuncionarioEdicao(item)">Remover</a>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-1 mb-3">
                <div class="col-xs col-sm col-md col-lg col-xl col-xxl d-flex justify-content-end">
                    <a href="/Escala/" class="btn btn-sm btn-outline-warning ms-2">Voltar</a>

                    @if (!Equals(ListaFuncionarios, null) && ListaFuncionarios.Count > 0)
                    {
                        if (ListaFuncionarios.Where(x => x.Selecionado).Count() > 0)
                        {
                            <button type="submit" class="btn btn-sm btn-success ms-2">Salvar</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-sm btn-success ms-2" disabled>Salvar</button>
                        }
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm btn-success ms-2" disabled>Salvar</button>
                    }
                </div>
            </div>
        </EditForm>
    </div>
</section>

<!-- Toast -->
@if (SalvoComSucesso)
{
    <div style="position: absolute; top: 60px; right: 5px;">
        <div class="toast fade show @ColorMesagemOperacao align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body text-light small">
                    @MensagemOperacao
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" @onclick="() => SalvoComSucesso = false" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
<!-- Fim Toast -->
