@page "/Cliente/Novo"
@page "/Cliente/Nova"

@page "/Cliente/Novo/{id:int}"
@page "/Cliente/Nova/{id:int}"

@inherits ClienteCadastroBase

<section>
    <MessageBox @ref="MessageBoxRef" />

    <MudText Typo="Typo.h6">
        @NomePagina Cliente
    </MudText>

    <EditForm Model="model" OnValidSubmit="SalvarInformacoes">
        <DataAnnotationsValidator />

        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                <MudTextField T="string"
                              Label="Nome"
                              @bind-Value="model.Nome"
                              For="@(() => model.Nome)"
                              Required="true" />
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                <MudTextField T="string"
                              Label="Cep"
                              @bind-Value="model.Cep"
                              OnBlur="BuscarCEPAsync"
                              For="@(() => model.Cep)"/>
            </MudItem>
            <MudItem xs="12" sm="12" md="7" lg="7" xl="7">
                <MudTextField T="string"
                              Label="Rua"
                              @bind-Value="model.Logadouro"
                              For="@(() => model.Logadouro)" />
            </MudItem>
            <MudItem xs="12" sm="12" md="1" lg="1" xl="1">
                <MudTextField T="string"
                              Label="N°"
                              @bind-Value="model.Numero"
                              For="@(() => model.Numero)"/>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" sm="12" md="4" lg="4" xl="4">
                <MudTextField T="string"
                              Label="Bairro"
                              @bind-Value="model.Bairro"
                              For="@(() => model.Bairro)" />
            </MudItem>
            <MudItem xs="12" sm="12" md="7" lg="7" xl="7">
                <MudTextField T="string"
                              Label="Cidade"
                              @bind-Value="model.Cidade"
                              For="@(() => model.Cidade)" />
            </MudItem>
        </MudGrid>

        <div class="d-flex flex-row-reverse mt-2">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Save" Color="Color.Tertiary" Size="Size.Small" ButtonType="ButtonType.Submit">Salvar</MudButton>
            <MudButton OnClick="RetornarTelaConsulta" Variant="Variant.Outlined" StartIcon="@Icons.Material.Rounded.ArrowBackIos" Color="Color.Warning" Size="Size.Small" Class="mr-2">Voltar</MudButton>
        </div>
    </EditForm>
    <MudOverlay @bind-Visible="OverlayDisplay" DarkBackground="true" ZIndex="9999" AutoClose="false">
        <MudButton Disabled="true" Color="Color.Transparent" FullWidth="true"></MudButton>
        <MudAlert Severity="Severity.Normal" Variant="Variant.Filled" NoIcon="true" Elevation="10">
            <MudText Typo="Typo.h5" Style="color: white;">Salvando... </MudText>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="" />
        </MudAlert>
    </MudOverlay>
</section>